#instructions {
  background: whitesmoke;
}

.instructionsWrapper {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20vh;
  button {
    width: 150px;
    margin-top: 20px;
  }
}

@media (max-width: 416px) {
  .instructionsWrapper {
    max-width: 80vh;
    margin-left: 10px;
    margin-right: 10px;
  }
}
