.wrapper {
  min-width: 80vw;
  margin: 0px auto;
  margin-top: 30vh;
  .buttonWrapper {
    width: 35vw;
    margin: 0px auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.container {
  height: 8px;
}

.progressWrapper {
  width: 100%;
  background-color: rgba(0,0,0,.5);
  height: 8px;
  margin: 0
}

.progressBar {
  width: 1%;
  height: 8px;
  background-color: rgba(0,0,0,.8);
}

.darkBG {
 button {
   color: white;
   border: 1.5px solid white;
   &:active {
     border: 1.5px solid white;
     background: white;
     color: black;
     transition: all .5s;
   }
   &:focus, &:hover {
     outline: none;
     border: 2.5px solid white;
  }
 }
}

.progressBarDarkBG {
  background-color: rgba(255,255,255,.8);
}

.progressBarWrapperDarkBG {
  background-color: rgba(255,255,255,.5);
}

@media (max-width: 855px) {
  main {
    margin-top: 25vh;
  }
}
