@import "setup";
@import "typography";
@import "main";
@import "howToPlay";

$black: #151515;

.modal {
  position: absolute;
	width: 100vw;
  height: 100vh;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	margin: 0 auto;
  background: rgba(255,255,255,1);
  z-index: 10;
}

.hidden {
  display: none;
}

button {
  height: 50px;
  border: 1.5px solid black;
  width: 200px;
  background-color: rgba(255,255,255,0);
  &:active {
    background: black;
    color: white;
    transition: all .5s;
  }
  &:focus, &:hover {
    outline: none;
  }
  &:active, &:focus, &:hover {
    border: 2.5px solid black;
  }
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media (max-width: 1228px) {
  .buttonWrapper {
    flex-direction: column;
    align-items: center;
    button:last-child {
      margin-top: 20px;
    }
  }
}
